@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Checkout Complete</h2>
<p>Дякуємо Вам за замовлення! Кур'єр якнайшвидше доставить. Номер Вашого замовлення: @Model</p>
<p>
Пропонуємо Вам переглянути цікаві пропозиції в нашому @Html.ActionLink("магазині",
"Index", "Home")
</p>

