@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="d-flex justify-content-endt">
            <div class="p-2 bd-highlight">

                @Html.ActionLink("Вітаємо, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </div>
            <div class="p-2 bd-highlight" style="right:-20px">

                <a class="font-weight-normal" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </div>
        </div>
    }
}
else
{
    <div class="d-flex justify-content-endt">
        <div class="p-2 bd-highlight">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </div>
        <div class="p-2 bd-highlight">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    </div>
}
