@model List<sushi_site_work.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

@{Html.RenderAction("SubCategoriesMenu", "Store");}


<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="100">
            <img src="https://www.royalsushionline.com/wp-content/uploads/2015/07/sushi-sashimi-picture-a.jpg" class="d-block w-50" alt="">

            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-warning font-weight-light">Ласкаво просимо!</h5>
                <p class="text-dark font-weight-light">Працюємо та вдосконалюємося завдяки Вам! </p>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<button type="button" class="btn btn-warning btn-block shadow-lg p-3 mb-5 align-items-sm-center" style="margin:auto; width:576px;"><a class="text-dark font-weight-light" href="@Url.Content("~/Store/")">У магазин</a></button>

<div class="card-body">
    <h3 class="text-md-center text-warning font-weight-light">Ваші найулюбленіші роли</h3>
    <div class="card-body">

        <div class="row ">

            @foreach (var album in Model)
            {<div class="col-md-4">
                    <div class="card align-items-sm-center" style="width: 18rem; border:0;">

                        <img src=@album.PhotoPath class="card-img-top" style="width:200px;" />
                        <div class="card-body">
                            <a href=@Url.Action("Details", "Store", new { id = album.Id })>
                                <button type="button" class="btn btn-light font-weight-bold">

                                    @album.Name<span class="badge badge-pill badge-warning align-text-bottom font-weight-bold" style="top:-4px;left:8px;">TOP</span>
                                </button>

                            </a>
                            <p class="card-text font-weight-light">@album.Description</p>
                            <p class="card-text font-weight-normal">@album.Cost грн.</p>
                            <button type="button" class="btn btn-warning">
                                <a class="font-weight-light font-weight-bold" href=@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = album.Id })    ></a>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>


