@model sushi_site_work.Models.SubCategory
@{
    ViewBag.Title = "Browse";
}
<h2>Browsing Genre: @Model.Name</h2>
<ul>
    @foreach (var product in Model.products)
    {

        <li>
            @Html.ActionLink(product.Name, "Details", new { id = product.Id })
        </li>

    }
</ul>
